.header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 1rem;
  padding-top: 1.5rem;
  background: url('../../assets/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 250px;
  position: relative;
}

.header__title {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 500;
}

.header_search_box{
    display: flex;
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #ffffff;
}

.header_search__input {
    width: 100%;
    padding: 1rem 1.5rem;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    border: none;
    background-color: #ffffff;
    
}

.header_search__input::placeholder {
  font-size: 0.7rem;
}

.search_ip{
    padding: 1.2rem;
    background-color: black;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:768px) {
  .header{
    height: 250px;
  }
  .header_search__input::placeholder {
  font-size: 1rem;
}

}
@media screen and (min-width:1068px) {
  .header{
    height: 220px;
  }
  .header__title {
    font-size: 1.5rem;
  }
}